<%- include('partials/header') %>
<main>
    <div class="page">
        <h1>My Games</h1>
        <ul id="my-games-list">

            <% if (games.length > 0) { %>
                <% for( let index = 0; index < games.length; index ++ ) { %>
                    <li>
                        <div class="game-details">
                            <p><%= games[index].title %></p>
                            <div class="game-options">
                                <a href="my-games/play-game/<%= games[index].id %>" class="button">Launch Game</a>
                                <a href="my-games/edit-game/<%= games[index].id %>" class="button">Edit Game</a>
                            </div>
                        </div>
                    </li>
                <% } %>
            <% } else { %>
                <p>Click the button below to create your first game!</p>
            <% } %>

        </ul>
        <button id="add-game-button">Purchase a Game</button>
        <a class="button" href="purchase.html">Get Cards</a>
    </div>
</main>
<%- include('partials/footer') %>